@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
section {
    height: 100vh;
    overflow: hidden;
    background: black
}
p {
    position: relative;
    font-size:  1.5em;
    letter-spacing: -0.05em;
    line-height: 0.7em;
    background: url(../img/456.jpg),url(../img/456.jpg), url(../img/456.jpg), url(../img/456.jpg);
    background-blend-mode:color;
    background-attachment: fixed; 
    background-position: center;
    background-size: cover;
    -webkit-background-clip:text;
    color: transparent;
}